*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.menu{
	
	margin: 80px 300px 0 300px;
}


/* Styling a Form */

.myform{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
width:50%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

::-webkit-datetime-edit { padding: 0.7em; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.4em; }

::-webkit-inner-spin-button { display: none; }

/* Table */
#expenses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#expenses td, #expenses th {
  border: 1px solid #ddd;
  padding: 8px;
}

#expenses tr:nth-child(even){background-color: #f2f2f2;}

#expenses tr:hover {background-color: #ddd;}

#expenses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
